a,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}
a:hover,
a:visited:hover {
  text-decoration: underline;
  color: #000; // black
}

// Alignment
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }