$font-lens-headline: "news-gothic-std", Helvetica, Arial, sans-serif;
$font-lens-subhead: "news-gothic-std", Helvetica, Arial, sans-serif;
$font-lens-body: "minion-pro", Georgia, "Times New Roman", Times, serif;

$color-lens-red: #B33125;
$color-lens-dark-gray: #5A5A54;
$color-lens-medium-gray: #A8A299;
$color-lens-light-gray: #F5F5EF;