archieml==0.1.0
awscli==1.8.0
botocore==1.1.11
colorama==0.3.3
docutils==0.12
ecdsa==0.13
Fabric==1.10.2
Flask==0.10.1
google-api-python-client==1.4.1
googlemaps==2.2
httplib2==0.9.1
itsdangerous==0.24
Jinja2==2.8
jmespath==0.7.1
MarkupSafe==0.23
oauth2client==1.4.12
paramiko==1.15.2
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycrypto==2.6.1
python-dateutil==2.4.2
requests==2.7.0
rsa==3.2
simplejson==3.8.0
six==1.9.0
slugify==0.0.1
uritemplate==0.6
Werkzeug==0.10.4
yuicompressor==2.4.8
