<div class="small-12 columns story about" id="about">

  <div class="row">
    <div class="small-8 small-centered text-center columns">
      <button class="home-button go-home"><i class="fa fa-chevron-left"></i> </i>Back to Home</button>
    </div>
  </div>

  <div class="row">
    <p class="small-12 columns head">
      About
    </p>
  </div>

  <div class="row">
    <div class="small-12 columns body" id="body">
      <p>
        This map is part of the evolution of a post-Katrina <a href="http://thelensnola.org/squandered-heritage-archives/">blog called Squandered Heritage</a>, started in 2006 by Karen Gadbois. As a textile artist, Gadbois was concerned about the aesthetic her adopted city was losing in its rush to become the “new New Orleans.”
      </p>
      <p>
        With a digital camera and a website, she began documenting buildings that were on demolition lists. Her work caught the attention of media outlets <a href="http://www.wwltv.com/story/news/local/2014/08/22/14245464/">near</a> and <a href="http://www.nytimes.com/2008/08/13/us/nationalspecial/13activist.html?ref=us&_r=1&">far</a>, and eventually spawned a federal investigation into a corrupt home rehabilitation program for the poor and elderly. In 2009, Gadbois teamed up with New Orleans journalist Ariella Cohen <a href="http://www.cjr.org/news_startups_guide/2011/03/the-lens.php">to start The Lens</a>, the city’s first nonprofit newsroom.
      </p>
      <p>
        In conjunction with The Nation’s <a href="http://www.thenation.com/issue/august-31-september-7-2015/?nc=1">special issue</a> on the 10-year anniversary of the storm, our newsrooms have partnered to develop this map. It is part of The Lens’ continuing effort to document the changes to the city.
      </p>
      <p>
        Demolition permit data for this project was provided by the city of New Orleans. Not every building listed for demolition was torn down; in some cases owners reversed course or a government agency stepped in to preserve historic buildings. Meanwhile, some properties were demolished without proper city permits.
      </p>
      <p>
        Tax and code-enforcement information is based on New Orleans city records.
      </p>
      <p>
        Thanks to the <a href="http://thnoc.org/">Historic New Orleans Collection</a> for providing photos from its collection of survey photos taken by the Federal Emergency Management Agency (acc.no. 2013.0274).
      </p>
      <p>
        Both of our newsrooms rely on readers like you to produce ambitious investigative journalism. Support independent journalism by joining <a href="https://donate.thenation.com/responsive-pages/5_122014_hompage">Nation Builders</a> or <a href="http://thelensnola.org/support-us-1/">becoming a member of The Lens today</a>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-6 text-center columns">
      <a href="http://thelensnola.org/support-us-1/"><button class="lens-donate text-left" id="lens-donate">Donate to<br>The Lens</button></a>
    </div>
    <div class="small-6 text-center columns">
      <a href="https://donate.thenation.com/responsive-pages/5_122014_hompage"><button class="nation-donate text-left" id="nation-donate">Donate to<br>The Nation</button></a>
    </div>
  </div>

  <div class="story-photo-buffer"></div>

</div>