<div class="banner" id="banner">
  <div class="small-6 medium-6 large-9 columns banner-title go-home" id="banner-title">
    Missing Home
  </div>
  <div class="small-6 medium-4 large-2 columns text-right logos-wrapper">
    <div class="img-container" id="lens-logo"><a href="http://thelensnola.org"><img src="css/images/lens-logo-retina.png" alt="The Lens logo" width="100%"></a></div><div class="img-container" id="nation-logo"><a href="http://www.thenation.com/"><img src="css/images/nation-logo.png" alt="The Nation logo" width="100%"></a></div>
  </div>
  <div class="hide-for-small-only medium-2 medium-text-right large-1 columns social-icons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.thelensnola.org/demolitions" target="_blank" id="banner-facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/intent/tweet?text=1000s%20of%20buildings%20were%20torn%20down%20after%20Katrina.%20Here%27s%20what%20stands%20on%20150%20of%20those%20lots%20now%2E%20%23MissingHome&url=http%3A%2F%2Fprojects%2Ethelensnola%2Eorg%2Fdemolitions%2F" target="_blank" id="banner-twitter"><i class="fa fa-twitter"></i></a>
  </div>
</div>