<head>
  <title>Missing Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/lensnola/images/favicon.ico">

  <meta name="description" content="The city of New Orleans has granted 24,000 demolition permits since Hurricane Katrina. The Lens and The Nation partnered to show you what happened to 150 of those properties.">
  <meta name="keywords" content="New Orleans, Hurricane Katrina, The Lens, Missing Home, Louisiana, Katrina, August 29, demolitions, housing, blight, historic" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@TheLensNOLA">
  <meta name="twitter:site:id" content="thelensnola">
  <meta name="twitter:creator" content="@TheLensNOLA">
  <meta name="twitter:title" content="Missing Home: New Orleans property demolitions after Hurricane Katrina">
  <meta name="twitter:description" content="The city of New Orleans has granted 24,000 demolition permits since Katrina. The Lens and The Nation partnered to show you what happened to 150 of those properties. #MissingHome: stories of change and stagnation.">
  <meta name="twitter:image:src" content="https://s3-us-west-2.amazonaws.com/projects.thelensnola.org/demolitions/social/temp-map-screenshot.png">

  <!-- Facebook -->
  <meta property="og:title" content="Missing Home: New Orleans property demolitions after Hurricane Katrina" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://projects.thelensnola.org/demolitions/"/>
  <meta property="og:description" content="The city of New Orleans has granted 24,000 demolition permits since Katrina. The Lens and The Nation partnered to show you what happened to 150 of those properties. #MissingHome: stories of change and stagnation." />
  <meta property="og:site_name" content="The Lens" />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/projects.thelensnola.org/demolitions/social/temp-map-screenshot.png" />
  <meta property="article:publisher" content="https://www.facebook.com/thelensnola" />

  <!-- App -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/css/foundation.min.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/projects.thelensnola.org/external-libraries/css/jquery-ui-1.10.4.min.css">

  <!-- Mapbox -->
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/photoswipe.min.css">
  <link rel="stylesheet" href="default-skin/default-skin.min.css">

  <link rel="stylesheet" href="{{ banner_css }}">
  <link rel="stylesheet" href="{{ demolitions_css }}">
</head>