<div class="small-12 columns story" id="home">
  <div class="row">
    <div class="small-12 columns story-image" id="story-image">
      <div class="intro-photo-gallery" id="intro-photo-gallery">
        <div class="image-wrapper" id="image-wrapper">
          <img data-src="https://s3-us-west-2.amazonaws.com/projects.thelensnola.org/demolitions/images/6115-17-burgundy-st/1-1200x870.jpg" alt="The Lens: Missing Home" title="6116-17 Burgundy St." />
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 text-center columns launch-about-wrapper">
    <button class="big-button launch-button" id="launch-button">Explore New Orleans <i class="fa fa-chevron-right"></i></button>
  </div>

  <div class="row">
      <p class="small-12 columns subhead">
        A look at post-Katrina demolitions
      </p>
    </div>

  <div class="row">
    <div class="small-12 columns body">
      <p>
        New Orleans was struggling with 25,000 derelict properties before Hurricane Katrina more than doubled that number. The inescapable blight citywide led to an unprecedented willingness to knock down buildings, and free-flowing FEMA money  made it easier for many.
      </p>
      <p>
        The city has granted more than 24,000 demolition permits since Katrina, though every one hasn’t been put to use.
      </p>
      <p>
        Some demolitions happened quickly to protect the public from imminent threats. Thousands likely took place because of irreparable storm or flood damage. Many were carried out based on judgment calls; pieces of the city’s history are gone, for better or for worse. More than a few took place without the owners’ knowledge. And still others were conducted illegally, without a city permit.
      </p>
      <p>
        This app offers three different views of what we found when we examined the issue. Most broadly, the map at right shows all permits issued. We drilled down to 150 properties, and you can use the button above to see then-and-now photos of those properties. And at the most heart-wrenching and uplifting, we’ve told the personal stories of eight of our neighbors.
      </p>
      <p>
        A dot on the map can represent a fresh start, a sign of a city on the mend. Or it can be the site of yet another empty and overgrown lot, its absentee owner running up a staggering bill for past due taxes or blight.
      </p>
      <p>
        At a minimum, each dot represents the potential for change in our ever-evolving city.
      </p>
    </div>
  </div>

  <div class="small-12 columns text-center">
    <a class="about-link" id="about-link">About this project</a>
  </div>

  <div class="small-12 show-for-small-only text-center columns social-icons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.thelensnola.org/demolitions" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/intent/tweet?text=1000s%20of%20buildings%20were%20torn%20down%20after%20Katrina.%20Here%27s%20what%20stands%20on%20150%20of%20those%20lots%20now%2E%20%23MissingHome&url=http%3A%2F%2Fprojects%2Ethelensnola%2Eorg%2Fdemolitions%2F" target="_blank"><i class="fa fa-twitter"></i></a>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns border"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns byline">
      Stories by Karen Gadbois, Della Hasselle, Katy Reckdahl. Photography by Karen Gadbois, Kevin Mercadel, Weenta Girmay. Produced by Thomas Thoren.
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns border"></div>
      </div>
    </div>
  </div>

</div>